/* CSS GERAL */

*{ /*Tira toda a formatação inicial de tudo do site*/
    padding: 0;
    margin: 0;
    color: #2e2210    ;
    /* border: solid 1px; */
}

html, body {
    height: 100%; /*Serve para que o background possa receber o background color por inteiro, sem faltar uma parte*/
    background: linear-gradient(#BCA973, #CDBE96);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

header{
    display: flex;
    padding: 10px;
    align-items: center;
}

header>h1{
    flex-grow: 1;
    text-align: center;
    font-family: "arizonia";
    font-size: 3em;
}

nav{
    margin-left: 20px;
}

/* ------------------------ CSS - Sobre ------------------------ */

/* Tags */
/* Nenhuma modificação de tag foi necessária além de no CSS Geral */

/* Classes */
/* Nenhuma modificação de class foi necessária visto que todos os elementos são únicos*/

/* IDs */

#parte_foto img{  /*Modifica especificamente a imagem do site*/
    border-radius: 20px;
    float: left;
    padding: 15px;
}


#txt_sobre{ /*Modifica o texto do site*/
    font-size: 1.5em;
    line-height: 150%;
    text-align: justify;
    margin-left: 15px;
    padding-top: 8px;
}

#caixa{ /*Determina o tamanho e o local do texto e da foto*/
    width: 1200px;
    margin: auto;
}

#rodape{
    margin-top: 20px;
    text-align: center;
        margin-left: 90px;

}

